* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  background-color: beige;
  width: 90%;
  height: 15vh;
  margin: auto;
  align-items: center;
}
.logo-container {
  background-color: palevioletred;
  flex-grow: 1;
}
.logo {
  background-color: blue;
  flex-grow: 1;
}
nav {
  background-color: chocolate;
  flex-grow: 1;
}
.cart {
  background-color: darkgray;
  flex-grow: 1;
}
a {
  text-decoration: none;
}

.nav-links {
  list-style-type: none;
}
