* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  background-color: beige;
  width: 90%;
  height: 15vh;
  margin: auto;
  align-items: center;
}
.logo-container {
  background-color: palevioletred;
}
.logo {
  background-color: blue;
}
nav {
  background-color: chocolate;
  flex: 2;
}
.cart {
  background-color: darkgray;
  flex: 0.5;
}
