* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  background-color: beige;
  width: 90%;
  height: 15vh;
  margin: auto;
  align-items: center;
}

.logo-container,
.nav-links.nav-links,
.cart {
  display: flex;
}

.logo-container {
  background-color: palevioletred;
}
.logo {
  background-color: blue;

  margin: 5px;
}
nav {
  background-color: chocolate;
  flex-grow: 1;
}
.cart {
  background-color: darkgray;
}
a {
  text-decoration: none;
}

.nav-links {
  list-style-type: none;
  justify-content: space-evenly;
}
.nav-link {
}
